<!-- <p class="login">Merchant</p>
<mat-card class="card">    
 <form [hidden]="isLoggedIn" class="example-form">
   <mat-form-field appearance="outline">
     <mat-label>Email</mat-label>
     <input [formControl]="email" matInput placeholder="Placeholder">
   </mat-form-field>
   <br/>
   <mat-form-field appearance="outline">
     <mat-label>Password</mat-label>
     <input [formControl]="password" matInput placeholder="Placeholder">
   </mat-form-field>
   <br/>
   
   <div class="info">
    <p>Are you a User? <span routerLink="/user/login">Click here</span></p>

      <p>Register an Account? <span routerLink="/merchant/register">Click here</span></p>
   </div>
   <button [disabled]="!email.valid || !password.valid" (click)="onSubmit()" class="button"mat-flat-button color="primary">Login</button>
 </form>
 <div
 class="alert alert-danger"
 role="alert"
 *ngIf="isLoginFailed"
>
 Login failed: {{ errorMessage }}
</div>
<div class="alert alert-success" *ngIf="isLoggedIn">
 Logged in as {{name}} - {{merchantid}}.
</div>
</mat-card> -->
<div class="card flex justify-content-center">
  <p-card header="Merchant Login"  [style]="{ width: '360px' }">
      <!-- place body -->
        <form [hidden]="isLoggedIn" class="example-form">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input [formControl]="email" matInput placeholder="Placeholder">
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input [formControl]="password" matInput placeholder="Placeholder">
          </mat-form-field>
          <br/>
          
        
        </form>
       

      <ng-template pTemplate="footer">
        <div class="info">
          <p>Are you a User? <span routerLink="/user/login">Click here</span></p>
      
            <p>Register an Account? <span routerLink="/merchant/register">Click here</span></p>
         </div>
         <button [disabled]="!email.valid || !password.valid" (click)="onSubmit()" class="button"mat-flat-button color="primary">Login</button>
         <div
         class="alert alert-danger"
         role="alert"
         *ngIf="isLoginFailed"
        >
         Login failed: {{ errorMessage }}
        </div>
        <div class="alert alert-success" *ngIf="isLoggedIn">
         Logged in as {{name}} - {{merchantid}}.
        </div>
      </ng-template>
  </p-card>
</div>
