<!-- <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Create the screens</span>
            <div class="text-6xl text-primary font-bold mb-3">your visitors deserve to see</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="/src/assets/hero-1 .png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div> -->

<!-- <section class="py-3 mt-3 position-relative">
    <div class="container">
    <div class="row">
    <div class="col-lg-7 text-lg-start text-center">
    <img src="/src/assets/hero-1 .png" alt="Image" class="w-100 ms-n5" alt="design">
    </div>
    <div class="col-lg-5 my-auto text-start">
    <span class="text-primary font-weight-bold">Attention to beautiful design</span>
    <h2 class="my-2 display-6 font-weight-black">Awesome color palette, variables &amp; elements foundation.</h2>
    <p>Customize your colors, sizes, spacing or typography in minutes so they can fit perfectly for your brand. Spend time creating dApps logic and UX, our tools take care of the rest.</p>
    </div>
    </div>
    </div>
    </section> -->


<!--     
<div class="card flex justify-content-center">
    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">


        <ng-template pTemplate="footer">
           
        </ng-template>
    </p-card>
</div> -->


<div class="split left">
    <div class="centered">
        <!-- <img src="/src/assets/sky.jpg"> -->

      <h1>Neon is Where everything Happens</h1>
      <p>Book a Service Now!</p>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
        <h1>Neon is still Under construction</h1>
      <!-- <p>Some text here too.</p> -->
    </div>
  </div>

