<!-- <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Create the screens</span>
            <div class="text-6xl text-primary font-bold mb-3">your visitors deserve to see</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="/src/assets/hero-1 .png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div> -->

<!-- <section class="py-3 mt-3 position-relative">
    <div class="container">
    <div class="row">
    <div class="col-lg-7 text-lg-start text-center">
    <img src="/src/assets/hero-1 .png" alt="Image" class="w-100 ms-n5" alt="design">
    </div>
    <div class="col-lg-5 my-auto text-start">
    <span class="text-primary font-weight-bold">Attention to beautiful design</span>
    <h2 class="my-2 display-6 font-weight-black">Awesome color palette, variables &amp; elements foundation.</h2>
    <p>Customize your colors, sizes, spacing or typography in minutes so they can fit perfectly for your brand. Spend time creating dApps logic and UX, our tools take care of the rest.</p>
    </div>
    </div>
    </div>
    </section> -->


<!--     
<div class="card flex justify-content-center">
    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">


        <ng-template pTemplate="footer">
           
        </ng-template>
    </p-card>
</div> -->

<!-- <div class="main" > -->
<!-- <div class="split left">
    <div class="centered">

      <h1>Neon is Where everything Happens</h1>
      <p>Book a Service Now!</p>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
        <h1>Neon is still Under construction</h1>
        <h1>Send me an email to get a demo</h1>
        <h1>markejay.am@gmail.com</h1>
    </div>
  </div> -->
  <!-- <div class="centered">

    <h1>Neon is Where everything Happens</h1>
    <p>Book a Service Now!</p>
  </div> -->
<!-- </div> -->






<div *ngIf="!isLoggedIn">
    <!-- Navbar -->
    
  
    <!-- Main Content -->
    <div class="content">
      <div class="text-section">
        <!-- <p-chip label="Neon" class="chip"></p-chip> -->
        <p-chip label="NEON" />
        <br>
        <br>

        <!-- <h1 class="headline">Effortless Service Booking for Your Business</h1> -->
        <h1 class="headline">Streamline Your Business with Smart Service Booking</h1>
        <br>
        <p class="description">
            Boost your business with our all-in-one booking app! Let customers book anytime while you manage appointments effortlessly. With smart scheduling, real-time availability, and automated reminders, you’ll never miss a booking. 
            
        </p>
  
        <br>
        <div class="buttons">
          <button pButton type="button" label="Get Started" class="p-button-help" routerLink="/merchant/register"></button>
          <!-- <button mat-button >About Neon</button> -->
        </div>
  
        <br>
        <mat-card class="product-card">
          <mat-card-title>Register as a customer</mat-card-title>
          <br>
          <mat-card-content>
            <p>Create an account to book appointments, manage bookings, and stay connected with your favorite businesses—quick and easy.</p>
            <p class="price">
                <br>
              <!-- <span class="old-price">$350</span> <span class="new-price">$299</span> -->
            </p>
            <button pButton type="button" label="Create an account" class="p-button-outlined p-button-secondary" routerLink="/user/register" ></button>
          </mat-card-content>
        </mat-card>
      </div>
  
      <!-- Image Section -->
      <div class="image-section">
        <!-- <img src="https://res.cloudinary.com/dz0rcynyz/image/upload/v1739154029/profile/neon_img_j08nrw.jpg" class="model-image"> -->
        <!-- <img src="https://res.cloudinary.com/dz0rcynyz/image/upload/v1739163797/profile/neon_img4_xxbzf7.jpg" class="model-image"> -->
        <img src="https://res.cloudinary.com/dz0rcynyz/image/upload/v1740158505/profile/neon_img5_z54j7r.jpg" class="model-image">
        <!-- <img src="https://res.cloudinary.com/dz0rcynyz/image/upload/v1740813926/profile/business-to-business_ymtebh.png" class="model-image"> -->
        <!-- <img src="https://res.cloudinary.com/dz0rcynyz/image/upload/v1739161456/profile/neon_img2_qwkjwo.webp" class="model-image"> -->
  
        <!-- <div class="label label-top-right">Adapts to skin tone ✨</div>
        <div class="label label-left">Hydrating formula ✨</div>
        <div class="label label-bottom-right">Lightweight coverage ✨</div> -->
      </div>
    </div>
  </div>
  
