<h1>{{merchantid}}</h1>
<br>
<h1>Services</h1>
<!-- <mat-list>
    <mat-list-item *ngFor="let services of service">
        <mat-icon matListItemIcon>note</mat-icon>
        <div matListItemTitle>{{services.title}}</div>
        <div matListItemLine>{{services.price | currency:'CAD'}}</div>
        <button (click)="bookService(services)" mat-stroked-button>Book</button>
    </mat-list-item>
</mat-list> -->

 
      <p-dataView #dv [value]="service">
    <ng-template let-product pTemplate="listItem">
        <div class="col-12">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                <div *ngIf="product.profile">
                <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="product.profile" [alt]="product.name" />
                </div>

                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                        <div class="text-2xl font-bold text-900">{{ product.title }}</div>
                        <!-- <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                        <div class="flex align-items-center gap-3">
                            <span class="flex align-items-center gap-2">
                                <!-- <i class="pi pi-tag"></i> -->
                                <span class="font-semibold">{{ product.category }}</span>
                            </span>
                            <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag> -->
                        </div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                        <span class="text-2xl font-semibold">{{product.currency + product.price }}</span>
                        <!-- <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button> -->
                        <button (click)="bookService(product)" mat-stroked-button>Book</button>

                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
    



<!-- <div class="card flex justify-content-center">
    <p-orderList [value]="service" [listStyle]="{ 'max-height': '30rem' }" header="Services" filterBy="title" filterPlaceholder="Filter by title">
        <ng-template let-product pTemplate="item">
            <div class="flex align-items-center p-2 w-full flex-wrap">
                <div class="w-full text-center lg:w-auto lg:text-left">
                </div>
                <div class="flex-1">
                    <h5 class="mb-2">{{ product.title }}</h5>
                    <i class="pi pi-tag vertical-align-middle mr-2"></i>
                    <span class="vertical-align-middle line-height-1">{{ product.description }}</span>
                </div>
                <div class="flex flex-column align-items-end">
                    <h6 class="mb-2">{{ product.price | currency:'CAD' }}</h6>
                </div>
            </div>
        </ng-template>
    </p-orderList>
</div> -->