 <!-- <p class="login">Login</p>
 <mat-card class="card">    
  <form  [hidden]="isLoggedIn" class="example-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input [formControl]="email" matInput placeholder="Placeholder">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [formControl]="password" matInput placeholder="Placeholder">
    </mat-form-field>
    <br/>
    
    <div class="info">
      <p *ngIf="isMerch">Are you a Merchant? <span routerLink="/merchant/login">Click here</span></p>

    </div>
    <button [disabled]="!email.valid || !password.valid" (click)="onSubmit()" class="button"mat-flat-button color="primary">Login</button>
  </form>
  <div
  class="alert alert-danger"
  role="alert"
  *ngIf="isLoginFailed"
>
  Login failed: {{ errorMessage }}
</div>
<div class="alert alert-success" *ngIf="isLoggedIn">
  Logged in as {{name}} - {{role}}.
</div>
 </mat-card> -->


 <div class="card flex justify-content-center">
  <p-card header="User Login"  [style]="{ width: '370px' }">
      <form  [hidden]="isLoggedIn" class="example-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input [formControl]="email" matInput placeholder="Placeholder">
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" [formControl]="password" matInput placeholder="Placeholder">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        
       
      </form>
      <div
      class="alert alert-danger"
      role="alert"
      *ngIf="isLoginFailed"
    >
      Login failed: {{ errorMessage }}
    </div>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{name}} - {{role}}.
    </div>
      <ng-template pTemplate="footer">
        <div class="info">
          <p *ngIf="isMerch">Are you a Merchant? <span routerLink="/merchant/login">Click here</span></p>
          <!-- <p>Forgot your password? click here</p> -->
    
        </div>
        <button [disabled]="!email.valid || !password.valid" (click)="onSubmit()" class="button"mat-flat-button color="primary">Login</button>
      </ng-template>
  </p-card>
</div>

