<mat-card class="card">
    <form class="example-form">
    <mat-form-field  appearance="outline">
      <mat-label>Title</mat-label>
      <input  [formControl]="title" matInput>
    </mat-form-field>
    <br>
  <mat-form-field  appearance="outline">
      <mat-label>Description</mat-label>
      <textarea  [formControl]="description" matInput></textarea>
  
    </mat-form-field>
    <br>
    <mat-form-field  appearance="outline">
        <mat-label>Price</mat-label>
        <input  [formControl]="price" matInput>
      </mat-form-field>
      
  <br>
  <mat-form-field  appearance="outline">
    <mat-label>Duration</mat-label>
    <input  [formControl]="duration" matInput>
  </mat-form-field>
  
<br>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="createService()">
        {{actionBtn}}
      </button>
      <button mat-button mat-dialog-close>CANCEL</button>
      
    </mat-card-actions>
    </form>
  </mat-card>
  