

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/">Neon</span>
      &nbsp;&nbsp;

      <div *ngIf="isLoggedIn && !isMerchant">
        <span routerLink="/user/merchant-list">Business</span>
      </div>
      <div *ngIf="isMerchant">
        <span routerLink="merchant/view-service">Services</span>
      </div>
      &nbsp;&nbsp;

      <div *ngIf="isMerchant">
        <span routerLink="merchant/view-calender">Calender</span>
      </div>
      <span class="example-spacer"></span>
        <!-- <mat-icon mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/expenses">View Expense</button>
        <button mat-menu-item routerLink="/analytics">Overview</button>
      </mat-menu> -->
     
      <button mat-button [matMenuTriggerFor]="menu">
        <!-- <span class="material-symbols-outlined">
          menu
          </span> -->
          <span  id="add-icons" class="material-icons"  >
            menu
            </span>
          <!-- <mat-icon>more_vert</mat-icon> -->
      </button>
<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
  <button mat-menu-item>Item 1</button> -->

        <div  *ngIf="!isLoggedIn" routerLink="/user/login">User Login</div>
      &nbsp;&nbsp;
        <div *ngIf="!isLoggedIn" routerLink="/user/register">User Register</div>
      &nbsp;&nbsp;
      <div  *ngIf="!isLoggedIn" routerLink="/merchant/login">Merchant Login</div>
      &nbsp;&nbsp;
        <div *ngIf="!isLoggedIn" routerLink="/merchant/register">Merchant Register</div>
      &nbsp;&nbsp;
        <div *ngIf="isLoggedIn && !isMerchant" routerLink="/user/profile">Profile</div>
      &nbsp;&nbsp;
        <div  *ngIf="isLoggedIn && !isMerchant" routerLink="/user/bookings">Bookings</div>
        <!-- <span class="material-icons" >
          person
          </span> -->
        <div *ngIf="isMerchant" routerLink="/merchant/profile">Profile</div>
      <br>
        <div *ngIf="isMerchant" routerLink="/merchant/bookings">Bookings</div>
</mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  