<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/">Home</span>
      <span class="example-spacer"></span>
        <!-- <mat-icon mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/expenses">View Expense</button>
        <button mat-menu-item routerLink="/analytics">Overview</button>
      </mat-menu> -->
      <div *ngIf="!isLoggedIn">
        <span  routerLink="/user/login">Login</span>
      </div>
      &nbsp;&nbsp;
      <div *ngIf="!isLoggedIn">
        <span routerLink="/user/register">Register</span>
      </div>
      &nbsp;&nbsp;
      <div *ngIf="isLoggedIn && !isMerchant">
        <span routerLink="/user/profile">Profile</span>
      </div>
      &nbsp;&nbsp;
      <div *ngIf="isLoggedIn && !isMerchant">
        <span routerLink="/user/bookings">Bookings</span>
      </div>
      <div *ngIf="isMerchant">
        <!-- <span class="material-icons" >
          person
          </span> -->
        <span routerLink="/merchant/profile">Profile</span>
      </div>
      &nbsp;&nbsp;
      <div *ngIf="isMerchant">
        <span routerLink="/merchant/bookings">Bookings</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  